.messages-title {
    text-align: center;
}

.no-messages-title {
    margin-top: 8rem;
    text-align: center;
}

.messagesParent-flex {
    display: flex;
    justify-content: center;
}

.messages {
    display: flex;
    flex-direction: column;
    flex-basis: 40%;
}

.message {
    flex-basis: 25%;
    margin: 1em;
    padding: 1em;
    background: linear-gradient(90deg, rgba(242, 242, 242, 0.324) 0%, rgba(235, 235, 235, 0.447) 80%);
    box-shadow: 0px 0px 6px rgb(212, 212, 212);
    border-radius: 20px;
}
   

.message__detail-flex {
    display: flex;
    justify-content: space-between;
}

.readTrue {
   font-weight: light; 
}

.readFalse {
    background: transparent;
    background: linear-gradient(90deg, #8860D0 20%, #5680E9 90%);
    box-shadow: 0px 0px 10px rgb(167, 167, 167);
    color: white;
    font-weight: bolder;
}

.btn-delete-flex {
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
    margin-right: 2rem;
}

.btn-reply {
    margin-right: 3rem;
}

.form-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-form {
    display: block;
    width: 50%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    box-shadow: 0px 0px 6px rgb(212, 212, 212);
    border-radius: 20px;
    -webkit-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn-flex {
    display: flex;
    justify-content: center;
}