.title {
  text-align: center;
}

.locationsParent__flex {
  display: flex;
  justify-content: center;
}

.locations {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-basis: 55%;
}
  
.location {
  flex-basis: 25%;
  margin: 1em;
  padding: 1em;
  background: linear-gradient(90deg, rgba(242, 242, 242, 0.324) 0%, rgba(235, 235, 235, 0.447) 80%);
  box-shadow: 0px 0px 6px rgb(212, 212, 212);
  text-align: center;
  border-radius: 20px;
}


.location__link {
  text-decoration: none;
  color: #6568F4;
}

.location__link:hover {
  color: white;
}


.location:hover {
  background: linear-gradient(90deg, rgba(110, 94, 254) 0%, rgba(73, 63, 252) 80%);
  transition: all 0.2s ease-out;
}

.parentCard-flex {
  display: flex;
  justify-content: center;
}

.detail__card {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 900px;
  height: 40rem;
  box-shadow: 0px 0px 6px rgb(212, 212, 212);
  border-radius: 20px;
}

.detail__cardAnimal {
  width: 900px;
  height: 500px;
  margin-left: 8rem;
}

.detail__cardUser {
  width: 900px;
  height: 500px;
  border-left: 2px rgb(181, 181, 181) solid;
  padding-left: 8rem;
}

.button-message {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.go-back-btn {
  margin-top: 2rem;
}

.searchBar {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.searchBar__title {
  text-align: center;
  margin-top: 0;
}