/* Import the google web fonts you want to use */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap");

/*Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
  color: #404040;
  font-family: 'Roboto', sans-serif;;
  font-size: 14px;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;;
}

p {
  margin-bottom: 1.5em;
  color: #d6fcff;
  color: darkslateblue;
}

strong {
  font-weight: bold;
}

address {
  margin: 0 0 1.5em;
}

.btn-primary {
  margin: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 18px;
  border: none;
  background: linear-gradient(175deg, rgb(242, 242, 242) 30%,rgb(193, 193, 193) 125%);
}

.btn-primary:hover {
  margin: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 18px;
  border: none;
  background: linear-gradient(175deg, rgb(110, 94, 254) 0%, rgba(73, 63, 252) 100%);
  color: white;
}