.title {
    text-align: center;
}

.parksParent__flex {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

.parks {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-basis: 55%;
}
    
.park {
    flex-basis: 25%;
    margin: 1em;
    padding: 1em;
    background: linear-gradient(90deg, rgba(242, 242, 242, 0.324) 0%, rgba(235, 235, 235, 0.447) 80%);
    box-shadow: 0px 0px 6px rgb(212, 212, 212);
    text-align: center;
    border-radius: 20px;
}