@import url(./components/mediaQueries/WebBrowser.css);
@import url(./components/mediaQueries/iPhonePlus.css);
@import url(./components/mediaQueries/iPhoneOldGen.css);

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-size: 3.5rem;
  margin-top: 5rem;
}

.header .menu-btn {
  display: none;
}

