.navbar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    padding-bottom: .5rem;
    padding-top: .5rem;
    background: linear-gradient(90deg, rgb(110, 94, 254) 0%, rgba(73, 63, 252) 100%);
    margin-top: 0;
}

.navbar__innerFlex {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navbar__logo {
    display: flex;
    justify-content: flex-start;
}

.navbar__item {
    list-style-type: none;
    text-align: right;
    margin: 0 2rem;
}

.navbar__link {
    color: #fff;
    text-decoration: none;
    font-weight: 800;
    font-size: 1.05rem;
    padding: .6rem;
}

.hover:hover {
    background-color: #6d76f7;
    border-radius: 18px;
    transition: all 0.2s ease-out;
}

.hover:active {
    background-color: #6668f4;
    opacity: 1;
    transition: all 0.5s ease;
}

.barkbook__logo {
   max-width: 14rem;
   margin-left: 1rem;
   transition: transform .5s;
}

.barkbook__logo:hover {
    transform: scale(1.1);
    backface-visibility: hidden;
    perspective: 1000px;
}

.mail__icon {
    max-width: 2.5rem;
    margin-right: 3rem;
    transition: transform .5s;
}

.mail__icon:hover {
    transform: rotate(20deg);
}

.logout__button {
    padding: 0.5rem 1rem;
    border-radius: 18px;
    background-color: #3acbf7;
    margin-right: 2rem;
}

.logout__button:hover {
    background: #fff;
    color: #6568F4;
    transition: all 0.3s ease-out;
}