.h1, h1 {
    font-size: 2.5rem;
}

fieldset {
    min-width: 0;
    padding: 1rem 0;
    margin: 0;
    border: 0;
}

.link--register {
    color: white;
    text-decoration: none;
}

.link--register:hover {
    color: #3acbf7;
}

.form--login {
    display: inline-block;
    margin: 0 auto;
    text-align: left;
}

.form--login > fieldset > input[type="email"],
.form--login > fieldset > input[type="password"] {
    width: 25em;
}

.label--login {
    width: 8rem;
    display: inline-block;
}

.form-control {
    display: block;
    width: 94%;
    /* height: calc(1.5em + .75rem + 2px); */
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    -webkit-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.container--login {
    text-align: center;
    background: linear-gradient(143deg, rgb(110, 94, 254) 30%, rgba(73, 63, 252) 60%);
    height: 75rem;
    color: white;
}

.login-logo--flex {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.login-welcome {
    margin-top: 6rem;
    margin-bottom: 0;
}

.login-photo-flex {
    display: flex;
}

.login-photo {
    max-width: 12rem;
}

.barkbook__logo__welcome {
    max-width: 35rem;
}

.form--login {
    background-position-x: right;
    z-index: 1;
    min-height: 25rem;
    /* min-width: 45rem; */
}

.form-btns {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
}

.button--close {
    position: relative;
    bottom: -2rem;
}

.dialog {
    min-width: 15rem;
    min-height: 5rem;
}

.loading {
    object-fit: cover;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    box-shadow: 0px 0px 10px rgb(212, 212, 212);
    background-position: top center;
}

.hidden {
    display: none
}

.btn-login {
    margin: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 18px;
    border: none;
    background: linear-gradient(175deg, rgb(242, 242, 242) 30%,rgb(193, 193, 193) 125%);
}
  
.btn-login:hover {
    margin: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 18px;
    border: none;
    background: #3acbf7;
    color: white;
}